{% extends "auth/auth_base.html" %}

{% block title %} – Login{% endblock %}

{% block auth_content %}
<h1 class="text-4xl text-black font-bold tracking-tighter mb-8 text-left">Sign In</h1>

<form method="POST" class="w-full max-w-md">
  <div class="mb-6">
    <label class="text-xl font-bold block mb-2">Email Address</label>
    <input name="username" type="text" placeholder="someone@example.com" required autofocus
      class="text-xl w-full px-4 py-3 rounded-md border border-gray-300 focus:border-green-800 outline-none transition-colors">
  </div>

  <div class="mb-4">
    <label class="text-xl font-bold block mb-2">Password</label>
    <input name="password" type="password" placeholder="Password" required
      class="text-xl w-full px-4 py-3 rounded-md border border-gray-300 focus:border-green-800 outline-none transition-colors">
  </div>

  <div class="flex justify-between items-center mb-8">
    <a href="#" class="text-sm text-green-800 hover:underline">Forgot Password?</a>
  </div>

  <button type="submit"
    class="text-xl w-full py-3 mb-6 rounded-md bg-green-950 text-white font-bold hover:bg-green-700 transition-colors shadow-sm">
    Sign In
  </button>

  <p class="text-center">
    <span class="text-sm text-gray-600">Don't have an account? </span>
    <a href="{{ url_for('auth.register') }}" class="text-sm text-green-800 font-semibold hover:underline">Register Now</a>
  </p>
</form>
{% endblock %}